In [1]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import datetime
import numpy as np

/home/andre/Desktop/pythonTradingAlgos/tradingalgos/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
vale3 = pdr.get_data_yahoo('VALE3.SA', 
                           start=datetime.datetime(2016,10,1), 
                           end=datetime.datetime(2019,1,1)
                          )

[*********************100%***********************]  1 of 1 completed

In [3]:
display(vale3.head())

                 Open       High        Low      Close  Adj Close    Volume
Date
2016-10-03  17.850000  18.270000  17.750000  18.100000  16.131056   3689100
2016-10-04  18.200001  18.299999  17.559999  17.650000  15.730004   5321900
2016-10-05  17.879999  18.010000  17.709999  17.860001  15.917162   3221600
2016-10-06  17.840000  17.950001  17.700001  17.799999  15.863687   4178300
2016-10-07  17.969999  18.280001  17.719999  18.000000  16.041933  10040900

In [4]:
display(vale3.tail())

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-20  50.740002  51.169998  49.450001  49.810001  48.524197  25323700
2018-12-21  50.279999  51.250000  50.220001  50.860001  49.547092  28272600
2018-12-26  50.110001  50.700001  49.400002  50.439999  49.137932  13356400
2018-12-27  50.099998  50.389999  49.279999  49.500000  48.222198  14332000
2018-12-28  50.310001  51.200001  50.250000  51.000000  49.683475  11914300

In [5]:
display(vale3.describe())

,Open,High,Low,Close,Adj Close,Volume
count,560.000000,560.000000,560.000000,560.000000,560.000000,5.600000e+02
mean,38.714214,39.261393,38.158054,38.709214,36.328037,1.337664e+07
std,11.092145,11.180888,10.950990,11.061257,11.302166,8.200185e+06
min,17.840000,17.950001,17.559999,17.650000,15.730004,0.000000e+00
25%,29.667500,30.165000,29.204999,29.642500,26.886350,6.290675e+06
50%,35.195000,35.645000,34.650000,35.170000,32.501396,1.301110e+07
75%,49.692499,50.424998,49.052500,49.624999,47.060589,1.879945e+07
max,62.200001,62.419998,60.480000,62.200001,60.594360,5.642970e+07

In [6]:
print(vale3.index)

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-13',
               '2016-10-14', '2016-10-17',
               ...
               '2018-12-13', '2018-12-14', '2018-12-17', '2018-12-18',
               '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-26',
               '2018-12-27', '2018-12-28'],
              dtype='datetime64[ns]', name='Date', length=560, freq=None)

In [7]:
print(vale3.columns)

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
vale3['2018-01-01':].head(10)

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  40.439999  41.740002  40.439999  41.720001  39.060638  14156500
2018-01-03  41.830002  41.880001  41.299999  41.470001  38.826576  12744200
2018-01-04  41.810001  42.369999  41.520000  41.639999  38.985741  18433000
2018-01-05  41.570000  42.290001  41.310001  42.290001  39.594303  15251300
2018-01-08  42.400002  43.230000  42.400002  43.230000  40.474384  14542800
2018-01-09  43.580002  43.750000  42.930000  43.070000  40.324589  15986200
2018-01-10  42.740002  42.950001  42.419998  42.470001  39.762829  12149500
2018-01-11  42.599998  43.299999  42.599998  43.299999  40.539925  10236300
2018-01-12  42.950001  43.660000  42.750000  43.549999  40.773987  15014300
2018-01-15  43.500000  43.720001  43.270000  43.470001  40.699089   7253400

Variação percentual intradiária de um ativo - variação entre o preço de abertura e o de fechamento dentro de um determinado dia

para cada dia d:
    var_percent = d.open / d.close

In [9]:
pct_c = (vale3.Close / vale3.Open).apply(lambda x : x - 1) * 100
display(pct_c.head(10))

Date
2016-10-03    1.400560
2016-10-04   -3.021984
2016-10-05   -0.111849
2016-10-06   -0.224220
2016-10-07    0.166949
2016-10-10    4.440787
2016-10-11   -1.483044
2016-10-13   -2.739726
2016-10-14   -0.441989
2016-10-17    0.829185
dtype: float64

In [10]:
daily_log_returns = np.log(vale3.Close.pct_change() + 1)
display(daily_log_returns.head(10))

Date
2016-10-03         NaN
2016-10-04   -0.025176
2016-10-05    0.011828
2016-10-06   -0.003365
2016-10-07    0.011173
2016-10-10    0.056695
2016-10-11   -0.023905
2016-10-13   -0.046776
2016-10-14    0.015097
2016-10-17    0.012135
Name: Close, dtype: float64

In [11]:
import chart_studio.plotly as plty

In [13]:
import sys
import os
sys.path.insert(0, os.path.abspath('../py'))
from Secrets import ReadSecrets

In [14]:
secrets = ReadSecrets().read('../secrets.json')
plty.sign_in(secrets.secrets['plotly']['username'], secrets.secrets['plotly']['apiKey'])

In [18]:
import plotly.graph_objs as gobjs

In [20]:
data = [gobjs.Histogram(x=daily_log_returns)]
plty.iplot(data, filename='basic histogram')