In [2]:
import sys
import os
sys.path.insert(0, os.path.abspath('../py'))
from Secrets import ReadSecrets

from pandas_datareader import data as pdr

import pandas as pd

import yfinance as yf
yf.pdr_override()
from datetime import datetime as calendar
import numpy as np
import chart_studio.plotly as plty

secrets = ReadSecrets().read('../secrets.json')
plty.sign_in(secrets.secrets['plotly']['username'], secrets.secrets['plotly']['apiKey'])

import plotly.graph_objs as gobjs


def get(tickers, start_date, end_date):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=start_date, end=end_date))
        
    tickers_data = map(data, tickers)
    
    return pd.concat(tickers_data, keys=tickers, names = ['Ticker', 'Date'])

In [3]:
tickers = ['AAPL', 'MSFT', '^GSPC']
start_date = calendar(2016, 1 ,1)
end_date = calendar(2018, 12, 31)

data = get(tickers, start_date, end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
# rows to cols
daily_close_px = data[['Adj Close']].reset_index().pivot('Date', 'Ticker', 'Adj Close')


# price_variation = today price / yesterday price
wallet_pct_change = daily_close_px / daily_close_px.shift(1) - 1

# accumulated percentual
wallet_return = (1 + wallet_pct_change).cumprod()

In [12]:
wallet_return.head(10)

Ticker          AAPL      MSFT     ^GSPC
Date
2016-01-04       NaN       NaN       NaN
2016-01-05  0.974941  1.004562  1.002012
2016-01-06  0.955862  0.986314  0.988870
2016-01-07  0.915520  0.952007  0.965434
2016-01-08  0.920361  0.954927  0.954970
2016-01-11  0.935263  0.954380  0.955785
2016-01-12  0.948837  0.963139  0.963243
2016-01-13  0.924442  0.942336  0.939195
2016-01-14  0.944661  0.969161  0.954876
2016-01-15  0.921974  0.930475  0.934251

In [14]:
final_return = wallet_return[-1:].apply(lambda x: (x - 1) *100)
display(final_return)

Ticker           AAPL      MSFT      ^GSPC
Date
2018-12-28  56.345966  95.75407  23.505209

In [15]:
daily_return = (1 + wallet_pct_change).cumprod()
daily_return.head(10)

Ticker          AAPL      MSFT     ^GSPC
Date
2016-01-04       NaN       NaN       NaN
2016-01-05  0.974941  1.004562  1.002012
2016-01-06  0.955862  0.986314  0.988870
2016-01-07  0.915520  0.952007  0.965434
2016-01-08  0.920361  0.954927  0.954970
2016-01-11  0.935263  0.954380  0.955785
2016-01-12  0.948837  0.963139  0.963243
2016-01-13  0.924442  0.942336  0.939195
2016-01-14  0.944661  0.969161  0.954876
2016-01-15  0.921974  0.930475  0.934251

In [16]:
final_return = wallet_return[-1:].apply(lambda el : (el - 1) * 100)
print(final_return)

Ticker           AAPL      MSFT      ^GSPC
Date
2018-12-28  56.345966  95.75407  23.505209