# MA9

1. Take a *exponential moving average* **EMA** of $9$ periods

   

* If the **EMA** has an *negative* inclination an becomes *positive*
  1. Wait for the **EMA** to cross the price *and*  to have a positive inclination
  2. Mark the candle where the crossing happened
  3. Send a **Buy** order for some next candle that is above the select candle's **high**
  4. Put a **Stop Loss** at the selected candle's **low**



* If the **EMA** has an *positive* inclination an becomes *negative*
  1. Wait for the **EMA** to cross the price *and*  to have a negative inclination
  2. Mark the candle where the crossing happened
  3. Send a **Sell** order for some next candle that is below the select candle's **low**
  4. Put a **Stop Loss** at the selected candle's **high**

In [32]:
import sys
import os

import chart_studio.plotly as plty
import plotly.graph_objs as gobjs

import plotly

sys.path.insert(0, os.path.abspath('../py'))
from Secrets import ReadSecrets


account = ReadSecrets()\
        .set_secrets_path('../secrets.json')\
        .set_default_accessors()\
        .access('plotly')['main_account']

plty.sign_in(account['username'], account['apiKey'])


from datetime import datetime as calendar
import numpy as np

from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf
yf.pdr_override()

from DataHelper import DataHelper

from plotly import tools

In [33]:
data, close, extractors = DataHelper.get_history_formatted(['AAPL', 'MSFT', '^GSPC', 'VALE3.SA'], calendar(2018, 1 ,3), calendar(2020, 2, 1))
msft = extractors['MSFT']()
vale3 = extractors['VALE3.SA']()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [34]:
def get_ema(window, prices):
    K = ( 2 / (window + 1))
    ma = prices.rolling(window=window).mean().dropna()

    data = pd.DataFrame(index=ma.index)
    data['Price'] = prices
    data['EMA'] = np.NaN

    data.EMA[0] = ma[1]

    for i in range(1, len(data)):
        data.EMA[i] = (data.Price[i] * K) + ((1 - K) * data.EMA[i-1]) 

    return data

In [35]:
window = 9

vale3['EMA9'] = get_ema(9, vale3.Close).EMA

vale3['EMA_method2'] = vale3.Close.ewm(alpha=1/window, adjust=False, min_periods=window).mean()

In [52]:
# get the "slope of EMA9 9"
dif = vale3.EMA - vale3.shift(1).EMA

# ema 9 crossed the candle (open/close price) and ema 9 has an ascendent slope  ?
vale3['mark_max'] = np.where((vale3.EMA < vale3.High) & (vale3.EMA > vale3.Low) & (dif > 0), vale3.High, 0)

# ema 9 crossed the candle (open/close price) and ema 9 has an descendent slope  ?
vale3['mark_min'] = np.where((vale3.EMA > vale3.Low) & (vale3.EMA < vale3.High) & (dif < 0), vale3.Low, 0)

# get start point
vale3['buy_start'] = np.where((vale3.Low < vale3.shift(1).mark_max) & (vale3.High > vale3.shift(1).mark_max), vale3.shift(1).mark_max, np.NaN)
vale3['sell_start'] = np.where((vale3.Low < vale3.shift(1).mark_min) & (vale3.High > vale3.shift(1).mark_min), vale3.shift(1).mark_min, np.NaN)

# set stop loss
vale3['buy_stop'] = np.where((vale3.Low < vale3.shift(1).mark_max) & (vale3.High > vale3.shift(1).mark_max), vale3.shift(1).Low, np.NaN)
vale3['sell_stop'] = np.where((vale3.Low < vale3.shift(1).mark_min) & (vale3.High > vale3.shift(1).mark_min), vale3.shift(1).High, np.NaN)

display(vale3.head(60))

,Open,High,Low,Close,Adj Close,Volume,EMA,mark_max,mark_min,buy_start,sell_start,buy_stop,sell_stop
Date,,,,,,,,,,,,,
2018-01-03,41.830002,41.880001,41.299999,41.470001,38.826576,12744200,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-04,41.810001,42.369999,41.520000,41.639999,38.985741,18433000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-05,41.570000,42.290001,41.310001,42.290001,39.594303,15251300,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-08,42.400002,43.230000,42.400002,43.230000,40.474384,14542800,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-09,43.580002,43.750000,42.930000,43.070000,40.324589,15986200,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-10,42.740002,42.950001,42.419998,42.470001,39.762829,12149500,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-11,42.599998,43.299999,42.599998,43.299999,40.539925,10236300,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-12,42.950001,43.660000,42.750000,43.549999,40.773987,15014300,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-15,43.500000,43.720001,43.270000,43.470001,40.699089,7253400,42.813333,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-16,42.980000,43.139999,42.299999,42.299999,39.603668,20121900,42.710666,0.000000,42.299999,NaN,NaN,NaN,NaN
2018-01-17,42.400002,43.220001,42.360001,43.150002,40.399487,16490700,42.798533,43.220001,0.000000,NaN,NaN,NaN,NaN
2018-01-18,43.500000,43.610001,42.680000,42.860001,40.127972,10772100,42.810827,43.610001,0.000000,43.220001,NaN,42.360001,NaN
2018-01-19,43.200001,43.400002,42.599998,42.880001,40.146698,11173100,42.824662,43.400002,0.000000,NaN,NaN,NaN,NaN
2018-01-22,43.099998,43.160000,42.220001,42.650002,39.931362,11580900,42.789730,0.000000,42.220001,NaN,NaN,NaN,NaN
2018-01-23,41.990002,42.110001,40.810001,40.930000,38.320992,22075600,42.417784,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-24,41.209999,42.130001,41.139999,41.779999,39.116810,22096600,42.290227,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-25,41.779999,41.779999,41.779999,41.779999,39.116810,0,42.188181,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-26,41.849998,41.880001,40.709999,41.430000,38.789124,19259500,42.036545,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-01-29,41.099998,42.240002,41.040001,41.889999,39.219803,16752900,42.007236,0.000000,41.040001,NaN,NaN,NaN,NaN
2018-01-30,41.700001,41.959999,41.230000,41.470001,38.826576,13180300,41.899789,0.000000,41.230000,NaN,NaN,NaN,NaN
2018-01-31,41.750000,42.680000,41.450001,41.450001,38.807850,22859700,41.809831,0.000000,41.450001,NaN,NaN,NaN,NaN
2018-02-01,41.599998,42.470001,41.570000,41.790001,39.126175,21949700,41.805865,0.000000,41.570000,NaN,NaN,NaN,NaN
2018-02-02,41.650002,41.650002,40.750000,40.799999,38.199284,17892300,41.604692,0.000000,40.750000,NaN,41.570000,NaN,42.470001
2018-02-05,40.599998,42.040001,40.330002,40.349998,37.777966,22452800,41.353753,0.000000,40.330002,NaN,40.750000,NaN,41.650002
2018-02-06,40.009998,42.470001,39.930000,42.470001,39.762829,26037000,41.577003,42.470001,0.000000,NaN,40.330002,NaN,42.040001
2018-02-07,42.430000,42.720001,41.700001,41.709999,39.051277,20560700,41.603602,0.000000,0.000000,42.470001,NaN,39.930000,NaN
2018-02-08,41.689999,42.130001,41.070000,41.590000,38.938923,18928800,41.600882,0.000000,41.070000,NaN,NaN,NaN,NaN
2018-02-09,41.400002,42.400002,41.029999,42.000000,39.322792,22760500,41.680705,42.400002,0.000000,NaN,41.070000,NaN,42.130001
2018-02-15,45.009998,45.959999,44.950001,45.950001,43.021004,31043100,42.534564,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-16,45.820000,46.189999,45.470001,46.029999,43.095905,21107300,43.233651,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-19,46.099998,46.799999,45.959999,46.450001,43.489132,12756100,43.876921,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-20,46.049999,46.450001,45.240002,45.509998,42.609047,18417600,44.203537,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-21,45.509998,45.959999,44.709999,44.799999,41.944309,24312600,44.322829,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-22,45.230000,45.680000,45.119999,45.669998,42.758854,14081800,44.592263,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-23,46.000000,46.410000,45.650002,46.080002,43.142719,17489800,44.889811,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-26,46.740002,47.400002,46.689999,47.400002,44.378582,20374600,45.391849,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-27,47.470001,47.599998,46.709999,47.330002,44.313042,15063400,45.779479,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-02-28,46.990002,47.090000,44.650002,45.049999,42.178371,39459100,45.633583,0.000000,44.650002,NaN,NaN,NaN,NaN
2018-03-01,45.209999,45.630001,43.970001,44.450001,41.616619,25776000,45.396867,0.000000,43.970001,NaN,44.650002,NaN,47.090000
2018-03-02,43.799999,43.880001,42.740002,43.750000,40.961239,25236200,45.067494,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-05,43.480000,43.939999,42.880001,43.700001,40.914429,16100600,44.793995,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-06,44.500000,44.919998,43.419998,43.490002,40.717815,22342000,44.533196,0.000000,43.419998,NaN,NaN,NaN,NaN
2018-03-07,42.509998,43.020000,42.200001,42.849998,40.574371,19334700,44.196557,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-08,42.680000,42.790001,41.250000,41.459999,39.258190,19983100,43.649245,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-09,40.970001,42.270000,40.509998,42.099998,39.864201,21077800,43.339396,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-12,42.290001,42.630001,41.939999,42.459999,40.205082,11838200,43.163517,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-13,42.740002,42.799999,42.049999,42.130001,39.892609,13838900,42.956813,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-14,42.849998,43.340000,42.570000,42.599998,40.337643,17936000,42.885450,0.000000,42.570000,NaN,NaN,NaN,NaN
2018-03-15,42.700001,42.820000,42.130001,42.400002,40.148270,16039100,42.788361,0.000000,42.130001,NaN,42.570000,NaN,43.340000
2018-03-16,42.400002,42.599998,42.049999,42.299999,40.053581,26802000,42.690688,0.000000,0.000000,NaN,42.130001,NaN,42.820000
2018-03-19,41.520000,41.520000,40.669998,41.099998,38.917305,21861500,42.372550,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-20,41.099998,41.919998,40.930000,41.599998,39.390755,9322500,42.218040,0.000000,0.000000,NaN,NaN,NaN,NaN
2018-03-21,41.750000,42.689999,41.430000,42.500000,40.242958,19798000,42.274432,42.689999,0.000000,NaN,NaN,NaN,NaN
2018-03-22,41.939999,42.250000,41.619999,41.930000,39.703228,15229500,42.205546,0.000000,41.619999,NaN,NaN,NaN,NaN
2018-03-23,41.240002,42.200001,41.009998,41.599998,39.390755,14983200,42.084436,0.000000,41.009998,NaN,41.619999,NaN,42.250000
2018-03-26,42.000000,42.380001,41.610001,42.000000,39.769512,9850900,42.067549,0.000000,41.610001,NaN,NaN,NaN,NaN
2018-03-27,42.389999,42.389999,40.720001,40.860001,38.690052,11659800,41.826039,0.000000,40.720001,NaN,41.610001,NaN,42.380001
2018-03-28,40.610001,41.700001,40.060001,41.540001,39.333942,19038400,41.768832,0.000000,0.000000,NaN,40.720001,NaN,42.389999
2018-03-29,41.869999,42.750000,41.740002,42.209999,39.968361,20347700,41.857065,42.750000,0.000000,NaN,NaN,NaN,NaN
2018-04-02,42.320000,43.470001,42.320000,43.000000,40.716404,18944000,42.085652,0.000000,0.000000,42.750000,NaN,41.740002,NaN

In [72]:
trace_ema = gobjs.Scatter(
                x=vale3.index,
                y=vale3.EMA,
                line = dict(color = '#17BECF'),
                opacity = 1)

trace_candles = gobjs.Candlestick(x=vale3.index,
                    name="VALE3.SA",
                    open=vale3.Open,
                    high=vale3.High,
                    low=vale3.Low,
                    close=vale3.Close,
                    increasing_line_color= 'cyan', decreasing_line_color= 'gray')

trace_buy = gobjs.Scatter(
    x=vale3.index,
    y=vale3.buy_start,
    mode="markers",
    name="Buy",
    marker = dict(size = 8, color = 'green', symbol = 'triangle-up', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)

trace_sell = gobjs.Scatter(
    x=vale3.index,
    y=vale3.sell_start,
    mode="markers",
    name="Sell",
    marker = dict(size = 8, color = 'red', symbol = 'triangle-down', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)

trace_sell_stop = gobjs.Scatter(
    x=vale3.index,
    y=vale3.sell_stop,
    mode="markers",
    name="Sell Stop",
    marker = dict(size = 8, color = 'red', symbol = 'line-ew', 
                  line=dict(width=1.5, color='red')),
)

trace_buy_stop = gobjs.Scatter(
    x=vale3.index,
    y=vale3.buy_stop,
    mode="markers",
    name="Buy Stop",
    marker = dict(size = 8, color = 'green', symbol = 'line-ew', 
                  line=dict(width=1.5, color='green')),
)

trace_cross = gobjs.Scatter(
    x=vale3.index,
    y=np.where((vale3.mark_max + vale3.mark_min) > 0, vale3.EMA, np.NaN),
    mode="markers",
    name="Crossing",
    marker = dict(size = 3, color = 'gold', symbol = 'circle', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)



plty.iplot([trace_ema, trace_candles, trace_buy, trace_sell, trace_cross, trace_sell_stop, trace_buy_stop], filename='ma9')

# Other method for calculating the slope

In [73]:
vale3['EMA9'] = get_ema(9, vale3.Close).EMA
vale3['EMA1'] = get_ema(1, vale3.Close).EMA


buy_cross = (vale3.shift(1).EMA1 < vale3.shift(1).EMA9) & (vale3.EMA1 > vale3.shift(1).EMA9)
sell_cross = (vale3.shift(1).EMA1 > vale3.shift(1).EMA9) & (vale3.EMA1 < vale3.shift(1).EMA9)

# ema 9 crossed the candle (open/close price) and ema 9 has an ascendent slope  ?
vale3['mark_max'] = np.where((vale3.EMA9 < vale3.High) & (vale3.EMA9 > vale3.Low) & (buy_cross == True), vale3.High, 0)

# ema 9 crossed the candle (open/close price) and ema 9 has an descendent slope  ?
vale3['mark_min'] = np.where((vale3.EMA9 > vale3.Low) & (vale3.EMA9 < vale3.High) & (sell_cross == True), vale3.Low, 0)

# get start point
vale3['buy_start'] = np.where((vale3.Low < vale3.shift(1).mark_max) & (vale3.High > vale3.shift(1).mark_max), vale3.shift(1).mark_max, np.NaN)
vale3['sell_start'] = np.where((vale3.Low < vale3.shift(1).mark_min) & (vale3.High > vale3.shift(1).mark_min), vale3.shift(1).mark_min, np.NaN)

# set stop loss
vale3['buy_stop'] = np.where((vale3.Low < vale3.shift(1).mark_max) & (vale3.High > vale3.shift(1).mark_max), vale3.shift(1).Low, np.NaN)
vale3['sell_stop'] = np.where((vale3.Low < vale3.shift(1).mark_min) & (vale3.High > vale3.shift(1).mark_min), vale3.shift(1).High, np.NaN)

In [75]:
trace_ema = gobjs.Scatter(
                x=vale3.index,
                y=vale3.EMA9,
                line = dict(color = '#17BECF'),
                opacity = 1)

trace_candles = gobjs.Candlestick(x=vale3.index,
                    name="VALE3.SA",
                    open=vale3.Open,
                    high=vale3.High,
                    low=vale3.Low,
                    close=vale3.Close,
                    increasing_line_color= 'cyan', decreasing_line_color= 'gray')

trace_buy = gobjs.Scatter(
    x=vale3.index,
    y=vale3.buy_start,
    mode="markers",
    name="Buy",
    marker = dict(size = 8, color = 'green', symbol = 'triangle-up', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)

trace_sell = gobjs.Scatter(
    x=vale3.index,
    y=vale3.sell_start,
    mode="markers",
    name="Sell",
    marker = dict(size = 8, color = 'red', symbol = 'triangle-down', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)

trace_sell_stop = gobjs.Scatter(
    x=vale3.index,
    y=vale3.sell_stop,
    mode="markers",
    name="Sell Stop",
    marker = dict(size = 8, color = 'red', symbol = 'line-ew', 
                  line=dict(width=1.5, color='red')),
)

trace_buy_stop = gobjs.Scatter(
    x=vale3.index,
    y=vale3.buy_stop,
    mode="markers",
    name="Buy Stop",
    marker = dict(size = 8, color = 'green', symbol = 'line-ew', 
                  line=dict(width=1.5, color='green')),
)

trace_cross = gobjs.Scatter(
    x=vale3.index,
    y=np.where((vale3.mark_max + vale3.mark_min) > 0, vale3.EMA, np.NaN),
    mode="markers",
    name="Crossing",
    marker = dict(size = 3, color = 'gold', symbol = 'circle', 
                  line=dict(width=1.5, color='DarkSlateGrey')),
)



plty.iplot([trace_ema, trace_candles, trace_buy, trace_sell, trace_cross, trace_sell_stop, trace_buy_stop], filename='ma9')

In [76]:
trace_short = gobjs.Scatter(
                x=vale3.index,
                y=vale3.EMA,
                name = "EMA(1)",
                line = dict(color = '#FF00CF'),
                opacity = 1)

trace_long = gobjs.Scatter(
                x=vale3.index,
                y=vale3.EMA9,
                name = "EMA(9)",
                line = dict(color = '#17BECF'),
                opacity = 1)

trace_candles = gobjs.Candlestick(x=vale3.index,
                    open=vale3.Open,
                    high=vale3.High,
                    low=vale3.Low,
                    close=vale3.Close)

data = [trace_short, trace_long, trace_candles]

fig = gobjs.Figure(data=data)

plty.iplot(fig, filename='cross-mm9-plot')